
.logo {
    width: 137px;
    height: 74px;
    top: 20px;
    left: 60px;
    margin-top: 10px; 
    margin-left: 20px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.nav ul {
    display: flex;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 20px;
    color: black;
    list-style-type: none;
    padding: 10px;
}

.nav li {
    margin-right: 20px;
    margin-left: 22px;
}

.nav a {
    text-decoration: none;
    color: black;
}
.nav a:hover {
    text-decoration: underline;
} 

.button {
    display: flex;
    align-items: flex-end;
    padding: 10px 20px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-left: auto; 
    margin-left: 650px;
}

.button:hover {
    background-color: darkgray; 
}

.nav img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.main {
    display: flex;
    align-items: flex-start;
    margin-left: 40px;
}

.main h1 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 97px;
    width: 700px;
    line-height: 86.4px;
    margin-top: 40px;
}

.span {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    width: 400px;
    line-height: 25.2px;
}

.p {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    width: 700px;
    line-height: 33.8px;
}

.yellow {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    background-color:darkgoldenrod;
    color: white;
    width: 136px;
    height: 20px;
    margin-top: 180px;
}

.img-flex-container {
    display: flex;
    align-items: flex-start;
}

.img {
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.text {
    max-width: 700px;
}

.signs {
    width: 81px;
    height: 104px;
}

.ship {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.signs p {
    font-size: 11px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 14.3px;
    text-align: center;
} 

.sign {
    width: 81px;
    height: 104px;
}

.image {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.sign p {
    font-size: 11px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 14.3px;
    text-align: center;
}

.signs-container {
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    gap: 10px;
    align-items: center;
}

.square p {
    font-size: 11px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 14.3px;
    text-align: center;
}

.square {
    width: 81px;
    height: 104px; 
}

.sq {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.circle {
    width: 81px;
    height: 104px; 
}

.cr {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.circle p {
    font-size: 11px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 14.3px;
    text-align: center;
}

.nav-second img {
    width: 431px;
    height: 65px;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 680px 680px;
    grid-template-rows: 470px 470px;
    gap: 60px;
    margin: 20px;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0;
    width: 680px;
    height: 470px;
    background-color: #0000000A;
    padding: 10px;
    align-items: flex-end;
}

.landing p {
    font-size: 26px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 32.5px;
    text-align: center;
    position: absolute;
    margin: 0;
    bottom: 27px;
    left: 90px;
}

.landing img {
    width: 640px;
    height: 360px;
    margin: 2px 2px 15px 2px; 
    object-fit: contain;
}

.iframe img {
    width: 229px;
    height: 65px;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.grid-container-2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 680px);
    grid-template-rows: repear(2, 470px) 470px;
    gap: 60px;
    margin: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0;
    width: 680px;
    height: 470px;
    background-color: #0000000A;
    padding: 10px;
    align-items: flex-end;
}

.box p {
    font-size: 26px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 32.5px;
    text-align: center;
    position: absolute;
    margin: 0;
    bottom: 27px;
    left: 90px;
}

.box img {
    width: 640px;
    height: 360px;
    margin: 2px 2px 15px 2px; 
    object-fit: contain;
}
